/* You can add global styles to this file, and also import other style files */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
p{
 width: 200px;
 background-color: lightslategrey;
 margin: 20px auto;
 font-size: 1.5em;
 text-align: center;    
}